services:

  pgadmin:
    image: dpage/pgadmin4
    container_name: whatsapp-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin@email.com
      PGADMIN_DEFAULT_PASSWORD: PASSWORD
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  backend:
    container_name: whatsapp-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
      - "5000:5000"
    shm_size: "1gb"
    env_file:
      - ${BACKEND_ENV_FILE}
    volumes:
      - backend_uploads:/app/uploads

  frontend:
    container_name: whatsapp-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ${FRONTEND_ENV_FILE}
    depends_on:
      - backend

volumes:
  backend_uploads:
  pgadmin_data: 
