version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: vikrant
      POSTGRES_PASSWORD: pmP2y3YDa3
      POSTGRES_DB: saubh_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgres://vikrant:pmP2y3YDa3@db:5432/saubh_db?schema=public
    ports:
      - "3001:3000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  pgdata:
